<mat-toolbar class="header">

    <span>
        <img src="assets/img/logo.PNG" alt="img-logo">
    </span>


    <span class="span">
        <h1>Digital Banc</h1>  
    </span>


    
   

     <span class="menu">

         menu

          <ul>

              <li>
                  <a routerLink="">
                    <i class="material-icons">home</i>
                  </a>
              </li>

             <li>
                <a routerLink="users">
                  <i class="meterial-icons">user</i>
                </a>
             </li>

             <li>
                <a routerLink="login">
                  <i class="meterial-icons">login</i>
                </a>
             </li>            

          </ul>
      
    </span> 

   

    
    





</mat-toolbar>

