*{
    margin: 0;
    padding: 0;
}

.header{

    width: auto;
    height: 90px;
    background-color: rgba(33, 160, 160, 0.37);
    padding: 2%; 
    display: flex;      
    justify-content: space-around;
    align-items: center;

   }


img{
    width: 4rem;
    height: 4rem;
 }


.span{
    text-align: center;
    height: 2rem;
    width: auto;
    background-color: rgba(0, 255, 234, 0.301);
} 





