*{
    margin: 0;
    padding: 0;
}





.container{
    height: auto;    
    background-color: rgba(22, 21, 22, 0.2);
    background-image: linear-gradient(to button, transparent, rgba(10, 4, 44, 0.151));
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}





.content{
    width: 94%;    
    padding: 2rem;
    background-color: rgba(30, 8, 55, 0.4);
    background-image: linear-gradient(to button, transparent, rgba(30, 10, 30, 0.4));
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
    margin: 1.2rem auto auto auto;
}




.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: chartreuse;
    font-weight: 500;
}

.form-text{
    color:#3385ff;
}
/* button{
    margin-bottom: 1rem;
    color: azure;       
} */

.table{
  width: 100%;
  padding: 20px;
}

.mat-header{
    width: 5rem;    
}



.buttons{
    width: 100%;
    margin: 2rem;
    text-align: start;
    
    
}




button{
    margin-right: .5rem;
    padding-right: 2rem; 
    padding-left: 2rem; 
    background-color: rgb(80, 234, 245);
    color: blue;
}


