
*{
    margin: 0;
    padding: 0;
}



.container{
    height: 64%;
    height: 85%;
    background-color:cadetblue;
}





.home{
    width: 95%;
    height: 95%;
    background-color: cornflowerblue;
    margin: 1rem auto;
}




@media(max-width:450px){
    .home{
        width: 70%;
    }
}

@media(max-width:770px){
    .home{
        width: 90%;
    }
}